<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-md">
        <a class="navbar-brand" href="#">Code Search</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chats" routerLinkActive="active">Tìm kiếm đoạn mã</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown" *ngIf="currentUser">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        {{ currentUser.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" (click)="logout()">Đăng xuất</a></li>
                    </ul>
                </li>
                <li class="nav-item" *ngIf="!currentUser">
                    <a class="nav-link" routerLink="/login">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-md mt-4">
  <router-outlet></router-outlet>
</div>